# DataSense
datasense/dataset/*.tar.xz
datasense/dataset/*.csv
datasense/dataset/checksums/
!datasense/dataset/vif_values.csv

# Sklearn's pipeline's caches
.cache/

# Python
venv/

# Jupyter checkpoints
.ipynb_checkpoints

# lab.py : script for testing some code snippets
lab.py

# SHAP values
experiments/shap/shap_values/
